  <div class="personal-top-content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-12">
        <div class="name-head">
          <a class="mb-2" href="#">
            <img
              class="img-fluid rounded img-streamer"
              src="{{ $.Page.Params.img }}"
              alt="{{ $.Page.Params.Title }}"
              title="{{ $.Page.Params.Title }}" />
          </a>
          <h4><a class="name" href="#">{{ $.Page.Params.Title }}</a></h4>
          <p><a class="deg" href="#">{{ $.Page.Params.description }}</a></p>
          <ul class="social">
            {{ if $.Page.Params.youtube }}
            <li><a href="{{ $.Page.Params.youtube }}"><i class="fa fa-youtube"></i></a></li>
            {{ end }}
            {{ if $.Page.Params.twitch }}
            <li><a href="{{ $.Page.Params.twitch }}"><i class="fa fa-twitch"></i></a></li>
            {{ end }}
            {{ if $.Page.Params.instagram }}
            <li><a href="{{ $.Page.Params.instagram }}"><i class="fa fa-instagram"></i></a></li>
            {{ end }}
            {{ if $.Page.Params.facebook }}
            <li><a href="{{ $.Page.Params.facebook }}"><i class="fa fa-facebook"></i></a></li>
            {{ end }}
            {{ if $.Page.Params.steam }}
            <li><a href="{{ $.Page.Params.steam }}"><i class="fa fa-steam"></i></a></li>
            {{ end }}
            {{ if $.Page.Params.twitter }}
            <li><a href="{{ $.Page.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-12">
        <div class="content-right">
          <h5 class="title-main">Información</h5>

          <div class="single-list">
            <h5 class="title">Nacionalidad</h5>
            <p>{{ $.Page.Params.nacionalidad }}</p>
          </div>

          {{ if $.Page.Params.telegram }}
          <div class="single-list">
            <h5 class="title">Telegram</h5>
            <p><a href="{{ $.Page.Params.telegram }}">{{ $.Page.Params.telegram }}</a></p>
          </div>
          {{ end }}

          {{ if $.Page.Params.web }}
          <div class="single-list">
            <h5 class="title">Web</h5>
            <p><a href="{{ $.Page.Params.web }}">{{ $.Page.Params.web }}</a></p>
          </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>


  <div class="single-section">
    <h4>Sobre {{ $.Page.Title }}</h4>
    <p class="font-size-4 mb-8">{{ $.Page.Params.data }}</p>
  </div>


  <div class="single-section skill">
    <h4>Stream</h4>
    <div class="ratio ratio-16x9" id="twitch-embed"></div>
  </div>

<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
  var embed = new Twitch.Embed("twitch-embed", {
      width: "100%",
      height: "100%",
      allowfullscreen: true,
      channel: "{{ $.Page.Params.channel }}",
      layout: "video",
      autoplay: false,
      theme: "dark",
      parent: ["localhost", "legionlinuxgamer.ga", "live.patojad.com.ar", "llg.patojad.com.ar", "legionlinuxgamer.com", "legionlinuxgamers.com"]
    });
    embed.addEventListener(Twitch.Embed.VIDEO_READY, function() {});
</script>
