{{ define "main" }}

    {{- partial "breadcrumbs.html" . -}}
    <section class="section latest-news-area blog-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-12">
            <div class="row">

              {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}

              {{ range $paginator.Pages }}
                {{ .Render "blogcard" }}
              {{ end }}

              {{ partial "paginator.html" $paginator }}

            </div>
          </div>
          {{- partial "lateralbar.html" . -}}
        </div>
      </div>
    </section>




{{ end }}
