<div class="col-lg-6 col-12">
  <div class="single-job">
    <a href="{{ .RelPermalink }}">
      <div class="job-image">
        <img src="{{ .Params.logo }}" class="img-fluid" alt="{{ .Title }}" title="{{ .Title }}" />
      </div>
      <div class="job-content">
        <h4>{{ .Title }}</h4>
        <p>{{ .Params.resumen }}</p>
        <ul>
          <li><i class="fa fa-cloud"></i> {{ .Params.ip }}</li>
        </ul>
      </div>
      <div class="job-button">
        <ul>
          <li><span>{{ .Params.onlinetime }}</span></li>
        </ul>
      </div>
    </a>
  </div>

</div>
