<div class="col-lg-6 col-12">
  <div class="inner-content">
    <div class="resume-item">
      <img src="{{ .Params.img }}" class="img-fluid" alt="{{ .Title }}" title="{{ .Title }}" />
      <div class="right">
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <span class="deg">{{ .Params.description }}</span>
        <br />
        <ul class="experience">
          <li>
          <i class="fa fa-map-marker"></i>
            {{ .Params.nacionalidad }}
          </li>
        </ul>
        <br />
        <ul class="skills">
          {{ if .Params.youtube }}
          <li><a href="{{ .Params.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.twitch }}
          <li><a href="{{ .Params.twitch }}"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.instagram }}
          <li><a href="{{ .Params.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.mastodon }}
          <li><a href="{{ .Params.mastodon }}"><i class="fa fa-mastodon" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.twitter }}
          <li><a href="{{ .Params.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.facebook }}
          <li><a href="{{ .Params.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.twitch }}
          <li><a href="{{ .Params.twitch }}"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.steam }}
          <li><a href="{{ .Params.steam }}"><i class="fa fa-steam" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.web }}
          <li><a href="{{ .Params.web }}"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
          {{ end }}
          {{ if .Params.telegram }}
          <li><a href="{{ .Params.telegram }}"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
