<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta
    content="{{ range .Params.tags }} {{.}}, {{ end }} linux, juegos, legion, gamers, servers, servidores, juego, games, online, comunidad, discord, llg, legion linux gamers,"
    name="keywords" />
  <meta name="author" content="PatoJAD" />
  <meta
    name="description"
    content="{{ .Params.description }}. LLG (Legión Linux Gamers) es la comunidad de Gamers en Linux mas grande de Latinoamerica y se encuentra en constante crecimiento"
    property="og:description" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image" content="{{ .Params.img }}" />
  <meta property="og:locale" content="es-ES" />

  <link rel="canonical" href="{{ .Permalink }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg" href='{{ "img/logo.svg" | absURL }}' />

  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  <!-- Styles -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/tiny-slider.css" />
  <link rel="stylesheet" href="/css/glightbox.min.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
    integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/variables.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }} {{ if eq $isHomePage false }}| {{ .Site.Title }}{{ end }}
  </title>
</head>
