<div id="loading-area"></div>

<!-- Start Header Area -->
<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand logo" href="/">
                            <img class="logo1" src="/img/logo.svg" alt="Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav me-auto ms-auto">
                                <li class="nav-item">
                                    <a href="/">Inicio</a>
                                </li>
                                <!--<li class="nav-item"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-us.html">About Us</a></li>
                                    </ul>
                                </li>-->
                                <li class="nav-item"><a href="/servers/">Servidores</a></li>
                                <li class="nav-item"><a href="/streamers/">Streamers</a></li>
                                <li class="nav-item"><a href="/blog/">Blog</a></li>
                            </ul>
                        </div>
                        <!-- navbar collapse -->
                        <div class="button">
                            <a href="javacript:" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal" title="Buscar">
                              Buscar
                            </a>
                        </div>
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- navbar area -->
</header>
<!-- End Header Area -->
