<aside class="col-lg-4 col-md-5 col-12">
  <div class="sidebar">

    {{- partial "widgets/search.html" . -}}
    {{- partial "widgets/lastpost.html" . -}}
    {{- partial "widgets/status.html" . -}}

  </div>
</aside>
