{{ if gt .TotalPages 1 }}
<div class="col-12">
  <div class="pagination center">
    <ul class="pagination-list">
      {{ if .HasPrev }}
      <li><a href="{{ .Prev.URL }}"><i class="fa fa-arrow-left"></i></a></li>
      {{ end }}
      {{ if .HasNext }}
      <li><a href="{{ .Next.URL }}"><i class="fa fa-arrow-right"></i></a></li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
