<div class="widget popular-feeds">
  <h5 class="widget-title"><span>Ultimos Articulos</span></h5>
  <div class="popular-feed-loop">

    {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
    <div class="single-popular-feed">
      <div class="feed-desc">
        <h6 class="post-title"><a href="{{ .RelPermalink }}">{{ .Params.Title }}</a></h6>
        <span class="time"><i class="fa fa-calendar"></i> {{ .Params.Date | time.Format ":date_full" }}</span>
      </div>
    </div>
    {{ end }}

  </div>
</div>
