<div class="widget search-widget">
  <h5 class="widget-title"><span>Buscar en el sitio</span></h5>
  <a href="javacript:" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#searchModal" title="Buscar">
    <i class="fa fa-search"></i>
  </a>
</div>
