<section class="featured-job section" style="background: var(--background-2)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
            Articulos
          </span>
          <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Blog de la Comunidad
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            No te pierdas las ultimas novedades del mundo del gaming, guias sobre nuestros servidores y juego favoritos, y mucho mas de nuestra comunidad
          </p>
        </div>
      </div>
    </div>

    <div class="single-head">
      <div class="row">

        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-job wow fadeInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="shape"></div>
              <div class="feature">&nbsp; Legión &nbsp;</div>
              <div class="image">
              <img src="{{ .Params.img }}" alt="{{ .Params.Title }}" title="{{ .Params.Title }}" />
              </div>
              <div class="content">
                <h4><a href="{{ .RelPermalink }}">{{ .Params.Title }}</a></h4>

                <p>{{ .Summary }}</p>
                <div class="button">
                <a href="{{ .RelPermalink }}" class="btn col-12">Leer Articulo</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}


        <div class="col-12 text-center"><br/><a href="/blog/" class="btn btn-primary">Ver todos los articulos</a></div>
      </div>
    </div>

  </div>
</section>
