{{ define "main" }}
<div class="error-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="error-content">
          <h1>Opps!</h1>
          <h2>Encontramos un Problema</h2>
          <p>Este contenido no esta disponible :(</p>
          <div class="button">
            <a href="/" class="btn">Ir al Inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
