{{ define "main" }}

<section class="hero-area">

  <div class="hero-inner">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 co-12">
          <div class="inner-content">
            <div class="hero-text">
              <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                Nuestra Comunidad
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                Nuestra comunidad, un lugar <br/>importante donde podemos reir, <br/>divertirnos y disfrutar desde GNU/Linux.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 co-12">
          <div class="hero-video-head wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
            <div class="video-inner">
              <img src="https://i3.ytimg.com/vi/xnp4jLxUAKA/maxresdefault.jpg" alt="#" />
              <a href="https://youtu.be/xnp4jLxUAKA" target="_blank" class="glightbox hero-video">
                <i class="fa fa-play"></i>
              </a>

              <div class="promo-video">
              <div class="waves-block">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{- partial "home/games.html" . -}}
{{- partial "home/blog.html" . -}}
{{- partial "home/process.html" . -}}
{{- partial "home/servers.html" . -}}

{{ end }}
